
input[type=text] {
    border-radius: 0.5em;
    width: 100%;
}

.form {
    display: inline-block;
}

.chi {
    /* margin-left: 600px; */
    display: flex;
    align-items: baseline;
    float: right;
}

.chiSelect {
    /* margin-left: 600px; */
    display: flex;
    align-items: baseline;
    float: right;
    height: 50px;
    width: 200px;
}

.chi2 {
    display: inline;
    padding-left: 0 !important;
    border-radius: 10px;
}

.chi3 {
    clear: both;
}

.actions a {
    background-color: rgb(180, 221, 185);
    border-radius: 10px;
}

.actions .bt1 {
    background-color: rgb(238, 92, 92);
    border-radius: 10px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "|";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#add-subject {
    width: 300px;
    margin-left: 23px;
}

.actionss .actions {
    margin-top: 30px;
    margin-left: 15px;
}

.list {
    margin-top: 1em;
    padding: 0.5em 1em;
    display: block;
    width: 100%;
    height: 15em;
    border: 1px ridge black;
    overflow: auto;
}