.invalid {
                
    color: red;
   
}
.form{
    display: flex;
}
.input{
    width: 150px;
}
.input-cmnd{
    width: 120px;
}
.radio-btn{
    margin-right: 30px;
}
.cer{
    height: 4em;
    text-align: center;
    border-radius: 0.8em;
    background-color: #bfbfbf;
}
.btn-Xong{
    width: 110px;   
}